* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

body {
  background-color: #191522;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header h1 {
    font-family: "Bangers", system-ui;
}

a {
transition: 200ms ease-in-out; 
}

a:hover {
  color: rgb(112, 185, 102);
}

.game-area {
  position: relative;
}

.game-area #button-start-game {
 background-color: rgb(112, 185, 102);
 padding: 10px;
 font-size: 1.5rem;
 cursor: pointer;
 width: 80px;
 height: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 200ms ease-in-out;
 border: none;
 border-radius: 100%;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}

.game-area #button-start-game:hover {
 background-color: rgb(89, 147, 82);
}

.game-area #canvas1 {
  border: 5px solid rgb(112, 185, 102);
  background: #4d79bc;
  max-width: 100%;
  max-height: 100%;
  font-family: "Bangers", system-ui;
}

.d-none {
  display: none;
}

.game-explanation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.game-explanation h2 {
  margin-bottom: 8px;
}

footer p {
  font-size: .8rem;
}